* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{ background-color: #FFFAC4; }

.paragraf{
	font-size: 16px;
	padding: 2% 5%;
	text-align: justify;
	text-justify: inter-word;
}

li, a, button {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
	color: #fc893d;
}

#hood { padding: 20px;}

h3{
	font-family: Copperplate;
	font-size: 18px;
	text-align: center;
}

header {
	background-color: #24252A;
	display: flex;
	overflow: hidden;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	margin-top: 0;
}

.card{ margin: 10px;}
.card h3, p, .news-img, .news-data, .btn-news{
	margin: 0px 10%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
 }

 .content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}

.logo {
	height: 50px;
	cursor: pointer;
	margin-right: auto;
}

.nav_links {
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a { transition: all 0.3s ease 0s; }
.nav_links li a:hover {color: red;}

button {
	margin-left: 20px;
	padding: 9px 25px;
	color: white;
	background-color: #fc893d;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover { background-color: red; }

footer {
	color: white;
	margin-top: auto;
	margin-bottom: 0;
	width: 100%;
	background-color: #24252A;
}

.footer1{
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 500;
	color: white;
}
.footer1 div{
	display: inline-block;
	padding: 5px 20px;
}
.contacts { width: 25%; min-width: 200px;}
.social { width: 25%; min-width: 200px;}
.social p { margin: 5px 0px;}
.contacts p { margin-top: 5px; }
.footer-images img {
	height: 30px;
	padding: 5px 3px;
	display: inline-block;
}

.footer2 { text-align: center; }
.footer2 a, label { color: grey; }
.footer2 a:hover{ color: red; }

form {
	display: inline-grid;
	width: 70%;
	margin: 0px 15%;
}
form textarea { width: 100%; }
form label {
	margin-right: 30px;
}
form input, textarea, select{
	float: right;
	margin-top: 5px;
}

form button { margin: 30px 130px;}